<section class="py-5">
  <div class=" container">

    <div id="header" class="d-flex justify-content-between">
      <div>
        <h1>Terms of Service</h1>
        <p class="lead mb-0">Updated 04/25/2023</p>
      </div>
      <div class="d-flex align-items-center">
        <button class="btn btn-outline-primary px-4 py-2 d-none d-lg-block">Print</button>
      </div>
    </div>

    <hr>

    <div class="col-12 col-md-9">
      <p class="my-5 lead text-muted">
        Below are our Terms of Service, which outline a lot of legal goodies, but the bottom line is it’s our aim to
        always take care of you.
      </p>

      <h3 class="mb-4">Terms</h3>

      <p class="lead text-muted">
        By visiting and/or taking any action on Tasteastic, you confirm that you are in agreement with and bound
        by the terms outlined below. These terms apply to the website, emails, or any other communication.
      </p>

      <div class="terms-list my-5">
        <li>
          <i class="bi bi-check-square-fill"></i>
          <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolorem esse quas quia? Autem est illo reprehenderit.</span>
        </li>
        <li>
          <i class="bi bi-check-square-fill"></i>
          <span>Delectus deleniti dicta doloremque est ex exercitationem fugiat laborum molestiae mollitia neque non, numquam provident quas quasi quos ullam unde vel!</span>
        </li>
        <li>
          <i class="bi bi-check-square-fill"></i>
          <span>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consequatur et, eveniet itaque laborum natus nemo obcaecati odio omnis quaerat quis quo ratione repellat rerum sit suscipit tenetur voluptas voluptates.
          </span>
        </li>
        <li>
          <i class="bi bi-check-square-fill"></i>
          <span>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae, dolorem earum, eos ipsam, modi natus nobis perferendis provident soluta tenetur vel. Animi aspernatur blanditiis consequatur consequuntur incidunt, quo tempore.
          </span>
        </li>
        <li>
          <i class="bi bi-check-square-fill"></i>
          <span>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos laborum molestiae molestias tenetur voluptatem! Culpa dolore dolorem dolores illo, in labore libero quam quidem quo temporibus ullam ut veniam voluptatibus.
          </span>
        </li>
        <p class="mt-3 lead">If you opt for an upgraded subscription</p>
        <li>
          <i class="bi bi-check-square-fill"></i>
          <span>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dolore ducimus earum fugiat id ipsa odio quasi saepe? Consectetur dicta eum excepturi facilis, maiores modi perferendis perspiciatis possimus quam vitae!
          </span>
        </li>
      </div>

      <h3 class="mb-4">Additional Terms</h3>

      <p class="lead text-muted">
        By visiting and/or taking any action on Tasteastic, you confirm that you are in agreement with and bound
        by the terms outlined below. These terms apply to the website, emails, or any other communication.
      </p>

      <div class="terms-list my-5">
        <li>
          <i class="bi bi-check-square-fill"></i>
          <span>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet excepturi impedit, ipsa laborum molestiae nesciunt non repellat voluptas? A aliquam commodi ea eum facere fugit inventore numquam soluta ullam!
          </span>
        </li>
        <li>
          <i class="bi bi-check-square-fill"></i>
          <span>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi illum magnam maiores minus non provident sapiente sint tempora? Accusantium, architecto aspernatur consequatur enim magni similique tempore temporibus voluptate! Dolorum, eum?
          </span>
        </li>
        <li>
          <i class="bi bi-check-square-fill"></i>
          <span>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid animi architecto consequuntur debitis deserunt, illo ipsum, laborum minus modi neque nihil odio perspiciatis reiciendis reprehenderit totam ullam velit veritatis?
          </span>
        </li>
      </div>

    </div>
  </div>
</section>
