<footer>
  <div class="footer-top pt-5">
    <div class="container">
      <div class="row">

        <!-- contact-->
        <div class="col-lg-3 col-md-6 footer-contact">
          <h3 class="footer-brand">Clubsurfer</h3>
          <p>
            123 Main St <br>
            New York, NY 123456<br>
            United States
          </p>
          <p>
            <i class="bi bi-phone"></i>+1 (234) 456-7890<br>
            <i class="bi bi-envelope"></i>info@example.com<br>
          </p>
        </div>

        <!--helpful-links-->
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Helpful Links</h4>
          <ul>
            <li><a routerLink="/home"><i class="bi bi-link-45deg"></i>Home</a></li>
            <li><a routerLink="/terms"><i class="bi bi-link-45deg"></i>Terms of service</a></li>
            <li><a routerLink="/privacy"><i class="bi bi-link-45deg"></i>Privacy policy</a></li>
            <li><a routerLink="/about"><i class="bi bi-link-45deg"></i>About Us</a></li>
          </ul>
        </div>

        <!--other-->
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Other</h4>
          <ul>
            <li><i class="bi bi-link-45deg"></i> <a href="#">empty</a></li>
            <li><i class="bi bi-link-45deg"></i> <a href="#">empty</a></li>
            <li><i class="bi bi-link-45deg"></i> <a href="#">empty</a></li>
            <li class="courtesy-notice-link"><i class="bi bi-link-45deg"></i>empty</li>
          </ul>
        </div>

        <!--social-->
        <div class="col-lg-3 col-md-6 footer-social">
          <h4>Our Social Networks</h4>
          <p>Follow us to stay up-to-date on our latest recipes and cooking tips.</p>
          <div class="social-links">
            <a href="#"><i class="bi bi-twitter"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="footer-bottom py-4 text-white">
    <div class="container">
      <p class="mb-0">© Copyright Clubsurfer. All Rights Reserved.</p>
    </div>
  </div>
</footer>
