.card {
  height: 100%;
  background-color: #0f0e17;
}

.card-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #fffffe;
}

i{
  color: #ff8906;
}

.section-header p{
  color: #2e2f3e;
}

.card-body p{
  color: #a7a9be;
}

button:active {
  border: none;
}
